.boat-detail-object {
}

.boat-detail-title {
  width: 100%;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.boat-detail-title > h2 {
  font-style: Helvetica;
  font-weight: 550;
  font-size: 35px;
}

.boat-detail-location {
  padding-top: 10px;
  padding-bottom: 10px;
}
.boat-detail-location > h3 {
  font-style: Helvetica;
  font-weight: lighter;
  font-size: 14;
}

.boat-detail-amenities {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
}

.boat-detail-amenities > div {
  float: left;
  margin-right: 20px;
}

.hook {
  padding-left: 10px;
  border: 1px solid lightgray;
  height: 80px;
  align-items: vertical;
}

.hook > div {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: lighter;
}
