.booking-object {
  border: 1px solid lightgrey;
  padding-left: 18px;
  padding-right: 18px;
  margin-top: 20px;
  margin-left: 20px;
  width: 30%;
  height: 350px;
}

.boat-booking-info {
  margin-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid lightgrey;
}

#booking-rate {
  font-size: 20px;
  font-weight: bold;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;;
}

#booking-per {
  font-size: 12px;
  font-weight: 400;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;;
}

.booking-form {
  padding-top: 10px;
}

.checkout, .checkin, .guests {
  height: 35px;
  font-size: 15px;
  font-weight: 200;
  display: flex;
  justify-content: flex-end;
  align-items: vertical;
  padding-top: 1px;
  padding-bottom: 1px;
}

.booking-form > label {
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;;
  font-size: 15px;
  font-weight: 550;
  margin-bottom: 5px;
}

.checkin > label {
  color: gray;
  line-height: 32px;
  float: left;
  padding-right: 2px;
}

.checkin > input {
  float: left;
  width: 150px;
  text-align: center;
}

.checkout > input {
  float: left;
  width: 150px;
  text-align: center;
}

.checkout > label {
  color: gray;
  padding-right: 2px;
  line-height: 33px;
  float: left
}

.guests > label {
  color: gray;
  padding-right: 2px;
  line-height: 33px;
  float: left
}

.guests > input {
  float: left;
  width: 150px;
  text-align: center;
}

#guests {
  margin-left: 147px;
  width: 149px;
  height: 30px;
}
.submit-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  height: 40px;
  align-items: center;
}

#submit {
  width: 85%;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 8px;
  background: rgb(255, 90, 95);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: white;
  cursor: pointer;
}
