.boat-index {
  float: left;
  width: 50%;
}

.boat-show-link {
  text-decoration: none;
}

.boat-index-item {
  display: flex;
  height: 200px;
  border: 1px solid lightgray;
  margin: 18px;
}

.boat-index-picture {
  width: 40%;
  height: 200px;
  float: left;
}
.boat-index-picture > img {
  height: 100%;
  width: 100%;
}
.boat-index-info {
  display: flex;
  width: 60%;
  float: left;
  height: 100%;
}

.boat-index-middle-info {
  margin-left: 10px;
  width: 65%;
  height: 175px;
  float: left;
}
.boat-index-middle-info > h2 {
  font-weight: 500;
  font-size: 18px;
  color: grey;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;;
  line-height: 25px;
  margin-top: 10px;
}

.boat-index-middle-info > h3 {
  font-weight: 500;
  font-size: 14px;
}

.boat-index-right-info {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 175px;
  float: left;
  border-left: 1px solid lightgrey;
}

.specifics {
  font-size: 12px;
}

.per-night {
  font-size: 12px;
  font-weight: lighter;
  margin-left: 10px;
}

.boat-index-price > .rate {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 18px;
}

.boat-rating {
  margin-top: 10px;
  margin-left: 10px;
}
