header {

}

.white-nav-bar {
  border: 2px solid lightgray;
}
//need fixed positioning and no background
.navbar {
  position: fixed;
  top: 0;
  background: none;
  display: flex;
  justify-content: space-between;
  vertical-align: center;
  height: 80px;
  width: 100%;
}

.logo {
  display: flex;
  // background-image: image_url('white_sailboat_logo');
  // // object-fit: cover;
  // background-size: contain;
  // background-repeat: no-repeat;
  border: 10px;
  height: 50px;
  width:50px;
  margin: 20px;
}

#logo {
  height: 50px;
  width: 50px;
}

.nav-links {
  display: flex;
  justify-content: center;
  vertical-align: center;
  padding-right: 20px;
}

.nav-links > button {
  background: none;
  border: none;
  color: white;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 8px;
  height: 80px;
  width: 80px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  vertical-align: center;
  font-size: 16px;
  align-content: center;
}
